@{
    ViewBag.Title = "登入頁面";

}
@model WebApplication9.Models.User
<div>
    <h3>登入頁面</h3>
    @if (ViewBag.ResultMessage != null)//判斷如果有訊息，則顯示。
    {
        @Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info" })
    }
    @section scripts{
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }

    <div class="form-horizontal">
        <form action='@Url.Action("Login","Login")' id="form1" method="post">
            <div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.userpassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.userpassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.userpassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="登入" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>