
@model List<WebApplication9.Models.Product>
@{
    ViewBag.Title = "購物首頁";
    //var UserID = User.Identity.GetUserId();
    //var UserName = User.Identity.Name;
}

<style>
    .ProductImg {
        height: 300px;
    }
</style>

<div class="jumbotron">
    <h2>購物網站 - 歡迎到處看看。</h2>
    <h6><span></span> @Html.ActionLink("關於網站", "About", new { }, new { @class = "btn btn-primary btn-lg" }) </h6>
    <h3>@if (ViewBag.ResultMessage != null)//判斷如果有訊息，則顯示。
    {
        @Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info" })
    }</h3>
</div>

<div class="row">
    @foreach (var product in this.Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img class="ProductImg" src="@product.DefaultImageURL" alt="商品圖片">
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                    <p>售價 : @product.Price</p>
                    <p>庫存 : @product.Quantity</p>
                    <p>
                        <a onclick="AddToCart('@product.Id')" href="javascript:void(0);"
                           class="btn btn-primary" role="button">
                            加入購物車
                        </a>
                        <a href="@Url.Action("Details", new { id = product.Id })" class="btn btn-default" role="button">
                            詳細資訊
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


